<footer class="article-footer">
    <div>
    {{ if .Params.guests }}
    <h3> Guests </h3>
    {{ end }}
    {{ range .Params.guests }}
        {{ range $key, $value := . }}
            {{ $path := (print "guest_images/" $value) }}
            {{ $image := resources.Get $path}}
            {{ if $image}}
            <a href="/guests/{{ $key }}">
                <figure  style="float: left">
                    <img src="{{ $image.Permalink }}" style="border-radius: 50%; width: 90px; height: 90px;">
                </figure>
                </a>
            {{ end }}
        {{ end }}
    {{ end }}
    </div>
</footer>